@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #fef9ef;
  min-height: 100vh;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  }
}
